name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: "Build & Test"
    uses: ./.github/workflows/build-template.yml
    with:
      generateVersion: false

  devDeploy:
    name: "Development Deployment"
    needs: build
    uses: ./.github/workflows/deploy-template.yml
    with:
      environment: Development
      packageVersion: ${{needs.build.outputs.packageVersion}}

  devAutomation:
    name: Development environment automation
    needs: devDeploy
    runs-on: ubuntu-latest

    steps:
      - run: echo "Automation QA placeholder"
